<h1>Countries featured in saved Recipes</h1>

<ul>
<% @countries.each do |country| %>
    <li><%= country.name %> - <%= link_to "See Recipes", country_of_origin_recipes_path(country) %></li>
<% end %>
</ul>