/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    background-color: rgb(135, 178, 243);      
    background-size: 100%;         
    color: black;                
    text-align: center;
    font-family: Georgia;
}
#wrap_one {
    width: 80%;
    margin: auto;
    background: rgb(241, 237, 230);
    overflow: hidden;
    color: black;                
    text-align: center;
    font-family: Georgia;
    border: 5px groove whitesmoke;
    padding: 35px;
    
  }
  #wrap_two {
    width: 80%;
    margin: auto;
    background: rgb(90, 181, 241);
    overflow: hidden;
    color: black;                
    text-align: center;
    font-family: Georgia;
    border: 5px groove whitesmoke;
    padding: 35px;
    
  }

a {
    text-decoration: none;     
    font-family: Georgia;                  
    font-weight: bold;          
}a:link {             
     color: rgb(51, 9, 68);
}
a:hover {
     color:purple;
}
a:visited {
     color: clear;
}

