<h1> Welcome to Whats Cookin!</h1>

<p> Whats Cookin' allows you to browse all recipes in the library, add your own recipe, and keep a cookbook of all your recipes in one handy location! You'll be cooking like Julia Childs before you know it.</p>

<label>To get cookin':</label><br>
<ul>
    <li><%= link_to "Sign Up!", signup_path %></li>
    <li><%= link_to "Log In!", login_path %></li>
</ul>