<h1> Welcome to What's Cookin'!</h1>

<p> What's Cookin' is the app for the millennial who had Home Ec stripped from their school's budget! On What's Cookin', you can browse a variety of recipes from different countries, all organized according to meal and skill level. There are recipes here for you whether you are a skill level 1, aka you make cereal and chicken nuggets and thats it, or skill level 5, making gourmet meals on the regular for your friends and family!</p>

<p>What's Cookin' also allows you to share your own recipes in the Recipe Library! Add a new recipe for one of your favorite meals to keep it handy for regular use and to share the goodness with others. With the What's Cookin' app, you'll never have to scroll through your Recipes board on Pinterest trying to find that recipe you made last week ever again.</p>

<h3>To get cookin':</h3>
<ul>
    <li><%= link_to "Sign Up!", signup_path %></li><br>
    <li><%= link_to "Log In!", login_path %></li>
</ul>